<div>
    <div class="navbar navbar-default set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <section class="menu-section" ng-init="loadAministrador()">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <li><a href="#/administrador/administrador">Inicio</a></li>
                                <li><a class="menu-top-active" href="#/administrador/solicitudAdministrador">Solicitudes</a></li>
                                <li><a href="#/administrador/labsAdministrador">Laboratorios</a></li>
                                <li><a href="#/administrador/asignarAdministrador">Asignar</a></li>
                                <li><a ng-click="salir()">Salir</a></li>
                                <li><a ng-model="usuario">{{usuario}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="container">
        <h1>Solicitudes</h1>
    </div>
    
   <div class="panel-group container">
        <div class="panel panel-default" ng-repeat="i in listSolicitudes">
           <div class="panel-heading" >
                <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordion" data-target="#{{i.id}}">{{i.nombre}}</div>  
                </h4>
            </div>
            <div id="{{i.id}}" class="panel-collapse collapse" ALIGN=center>
               <table class="table table-bordered">
                   <tr>
                       <td>
                           <h4>Nombre:</h4> {{i.nombre}}
                       </td>
                       <td>
                           <h4>Direccion:</h4> {{i.direccion}}
                       </td>
                       <td>
                           <h4>Ponderado:</h4> {{i.ponderado}}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <h4>Cedula:</h4> {{i.cedula}}
                       </td>
                       <td>
                           <h4>Cuenta Banco:</h4> {{i.cuentaBanco}}
                       </td>
                       <td>
                           <h4>Cuenta Cliente:</h4> {{i.cuentaClienteBanco}}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <h4>Carnet:</h4> {{i.carnet}}
                       </td>
                       <td>
                           <h4>Correo:</h4> {{i.correo}}
                       </td>
                       <td>
                           <h4>Justificación:</h4> {{i.justificacion}}
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Telefono:</h3> {{i.telefono}}
                       </td>
                       <td>
                           <button class="btn btn-primary" data-toggle="modal" data-target="#formulario" ng-click="loadFormularioEdit(i)">
                                <span class="glyphicon glyphicon-edit"></span> Editar
                            </button>
                            
                           <button class="btn btn-primary"  ng-click="loadArchivoMatricula(i.id)">
                                <span class="glyphicon glyphicon-eye-open"></span> Informe
                            </button>
                            
                       </td>
                       <td>
                           <button class="btn btn-primary" data-toggle="modal" data-target="#horarioDisponible" ng-click="loadHorarioDisponible(i.id)">
                                <span class="glyphicon glyphicon-eye-open"></span> Disponibilidad
                            </button>
                       </td>
                   </tr>
               </table>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="formulario" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" ng-model = "nombreEstudiante">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Solicitud {{nombreEstudiante}}</h4>
                </div>
                <div class="modal-body">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <fieldset class="form-group pad col-md-11">
                                    <label>Cedula</label>
                                    <input type="text" class="form-control" id="cedulaInput" placeholder="" ng-model="solicitudEditData.cedula">
                                </fieldset>
                            </td>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <label>Carnet</label>
                                    <input type="text" class="form-control" id="carnetInput" placeholder="" ng-model="solicitudEditData.carnet">
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fieldset class="form-group pad col-md-11">
                                    <label>Nombre Completo</label>
                                    <input type="text" class="form-control" id="nombreIput" placeholder="" ng-model="solicitudEditData.nombre">
                                </fieldset>
                            </td>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <label>Correo</label>
                                    <input type="email" class="form-control" id="correoInput" placeholder="" ng-model="solicitudEditData.correo">
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fieldset class="form-group pad col-md-11">
                                    <label>Telefono</label>
                                    <input type="text" class="form-control" id="telefonoInput" placeholder="" ng-model="solicitudEditData.telefono">
                                </fieldset>
                            </td>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <label>Direccion</label>
                                    <input type="text" class="form-control" id="direccionInput" placeholder="" ng-model="solicitudEditData.direccion">
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fieldset class="form-group pad col-md-11">
                                    <label>Ponderado</label>
                                    <input type="text" class="form-control" id="ponderadoInput" placeholder="" ng-model="solicitudEditData.ponderado">
                                </fieldset>
                            </td>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <label>Cuenta Banco Nacional</label>
                                    <input type="text" class="form-control" id="cuentaBancoInput" placeholder="" ng-model="solicitudEditData.cuentaBanco">
                                </fieldset>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <fieldset class="form-group pad col-md-11">
                                    <label>Cuenta Cliente Banco Nacional</label>
                                    <input type="text" class="form-control" id="cuentaClienteBancoInput" placeholder="" ng-model="solicitudEditData.cuentaClienteBanco">
                                </fieldset>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <label>Justificacion</label>
                                    <textarea class="form-control" id="justificacionTextarea" rows="3" ng-model="solicitudEditData.justificacion"></textarea>
                                </fieldset>
                            </td>
                            <td>
                                <fieldset class="form-group col-md-11">
                                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#horarioEditDisponible">Horario</button>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="modificarFormulario()">Modificar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eliminarFormulario()">Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="horarioEditDisponible" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Horario Disponible</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Hora
                            </td>
                            <td>
                                Lunes
                            </td>
                            <td>
                                Martes
                            </td>
                            <td>
                                Miercoles
                            </td>
                            <td>
                                Jueves
                            </td>
                            <td>
                                Viernes
                            </td>
                            <td>
                                Sabado
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mañana
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.lManana">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.kManana">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.mManana">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.jManana">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.vManana">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.sManana">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tarde
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.lTarde">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.kTarde">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.mTarde">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.jTarde">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.vTarde">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.sTarde">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Noche
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.lNoche">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.kNoche">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.mNoche">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.jNoche">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="horarioDataDisponile.vNoche">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="horarioDisponible" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Horario Disponible</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Hora
                            </td>
                            <td>
                                Lunes
                            </td>
                            <td>
                                Martes
                            </td>
                            <td>
                                Miercoles
                            </td>
                            <td>
                                Jueves
                            </td>
                            <td>
                                Viernes
                            </td>
                            <td>
                                Sabado
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mañana 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.lManana"> 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.kManana">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.mManana">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.jManana">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.vManana">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.sManana">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tarde 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.lTarde"> 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.kTarde">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.mTarde">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.jTarde">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.vTarde">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.sTarde">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Noche 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.lNoche"> 
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.kNoche">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.mNoche">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.jNoche">
                            </td>
                            <td>
                                <input type="checkbox" disabled="disabled" ng-model="horarioDataDisponile.vNoche">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>      
        </div>
    </div>
    
</div>
